<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterbikes</title>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        body {
            background-image: url("{% static 'core/img/fondo.jpg'%}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-width: 500px;
        }
    </style>

</head>

<body>
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">🚴‍♂️Masterbikes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                </li>
                {% if user.username == 'vendedor' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock' %}">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrarVenta' %}">Registrar Venta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listaReparacion' %}">Lista de reparaciones</a>
                </li>
                {% elif user.username == 'administrador' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Generar Reporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'reporteVentas' %}">Ventas</a>
                        <a class="dropdown-item" href="{% url 'reporteServicios' %}">Servicios</a>
                        <a class="dropdown-item" href="{% url 'reporteFabricacion' %}">Fabricación</a>
                    </div>
                </li>
                {% elif user.username == 'tecnico' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock' %}">Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historialReparacion' %}">Historial de reparaciones</a>
                </li>
                {% elif user.username == 'cliente' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'arriendoBicicleta' %}">Arrendar Bicicleta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'solicitarReparacion' %}">Solicitar Reparación</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">¡Bienvenido
                        {{user.username}}!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if user.username == 'vendedor' %}
    <div id="inicioVen">

        <div>
            <h1>¡Bienvenido Vendedor!</h1>
            <p>Lorem ipsum dolor sit amet, usu at dicam dolore inimicus. Ad voluptua definiebas vim, te vim omnes
                postulant. Oblique facilisis id qui. Eros latine pertinax no pri, his ei lorem nominati.
            </p>
        </div>

        <div style="text-align:center">
            <img src="{% static 'core/img/perfilVendedor.jpg'%}" height="200px" width="200px">
            <h1>Srta. Nobara Kugisaki</h1>
            <p>Ventas: 4</p>

        </div>


    </div>
    {% elif user.username == 'administrador' %}
    <div id="inicioVen">

        <div>
            <h1>¡Bienvenido Administrador!</h1>
            <p>Lorem ipsum dolor sit amet, usu at dicam dolore inimicus. Ad voluptua definiebas vim, te vim omnes
                postulant. Oblique facilisis id qui. Eros latine pertinax no pri, his ei lorem nominati.
            </p>
        </div>

        <div style="text-align:center">
            <img src="{% static 'core/img/perfilAdministrador.jpg'%}" height="200px" width="200px">
            <h1>Sr. Rey Julien</h1>

        </div>


    </div>

    {% elif user.username == 'tecnico' %}
    <div id="inicioVen">

        <div>
            <h1>¡Bienvenido Técnico!</h1>
            <p>Lorem ipsum dolor sit amet, usu at dicam dolore inimicus. Ad voluptua definiebas vim, te vim omnes
                postulant. Oblique facilisis id qui. Eros latine pertinax no pri, his ei lorem nominati.
            </p>
        </div>

        <div style="text-align:center">
            <img src="{% static 'core/img/perfilTecnico.png'%}" height="200px" width="200px">
            <h1>Sr. Soy Jak</h1>

        </div>


    </div>

    {% elif user.username == 'cliente' %}
    <div id="inicioVen">

        <div>
            <h1>¡Bienvenido Cliente!</h1>
            <p>Lorem ipsum dolor sit amet, usu at dicam dolore inimicus. Ad voluptua definiebas vim, te vim omnes
                postulant. Oblique facilisis id qui. Eros latine pertinax no pri, his ei lorem nominati.
            </p>
        </div>

        <div style="text-align:center">
            <img src="{% static 'core/img/perfilCliente.jpg'%}" height="200px" width="200px">
            <h1>Sr. Ron Perlman</h1>

        </div>


    </div>

    {% else %}

    <div class="container bg-light my-5 py-4 navbar-fixed-bottom" style="border-radius: 10px;">
        <h1 class="text-center pb-2">Bienvenido a Masterbikes</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'core/img/tienda.jpg'%}" class="d-block w-100 rounded" alt="..." height="600px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/img/taller.jpeg'%}" class="d-block w-100 rounded" alt="..."
                        height="600px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'core/img/vendedor.jpg'%}" class="d-block w-100 rounded" alt="..."
                        height="600px">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}



    <!-- Pie de Pagina -->
    <footer class="container-fluid py-3 bg-dark text-white position-static navbar-fixed-bottom">
        <p class="d-flex justify-content-center text-center m-0">2021 © Todos los Derechos Reservados</p>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>